{% extends 'layout.html' %}

{% block content %}

<div class="card">
    <h2>Dashboard</h2>

    <p>Bienvenida al dashboard del CRM 🚀</p>

    <div class="row" style="margin-top:20px;">

        <div class="card">
            <h3>Total clientes</h3>
            <p>{{ total_clients }}</p>
        </div>

        <div class="card">
            <h3>Contratos este mes</h3>
            <p>{{ month_contracts }}</p>
        </div>


        <div class="card">
            <h3>Tareas pendientes</h3>
            <p>{{ pending_tasks }}</p>
        </div>

    </div>
</div>
<div class="card">
    <h3>Servicios contratados</h3>

    {% for s in service_counts %}
        <div style="margin-top:8px;">
            <strong>{{ s["service_type"] }}</strong>:
            {{ s["total"] }} clientes
        </div>
    {% endfor %}
    <div class="card" style="margin-top:20px;">
    <h3>Próximas permanencias</h3>

    {% for alert in permanence_alerts %}

       <a href="/clients/{{ alert.client_id }}" style="text-decoration:none; color:black;">
    <div style="margin-top:10px; padding:10px; border-radius:8px;
    {% if alert.days_left <= 7 %}
        background:#ffdddd;
    {% elif alert.days_left <= 15 %}
        background:#fff3cd;
    {% else %}
        background:#ddffdd;
    {% endif %}
    ">

        <strong>{{ alert.full_name }}</strong><br>
        Quedan {{ alert.days_left }} días<br>
        Fin permanencia: {{ alert.end_date }}

    </div>
</a>

    {% endfor %}
</div>
</div>
{% endfor %}
</div>



{% endblock %}
