{% extends 'layout.html' %}

{% block content %}

<div class="card">
    <h2>Dashboard</h2>

    <p>Bienvenida al dashboard del CRM 🚀</p>

    <div class="row" style="margin-top:20px;">

        <div class="card">
            <h3>Total clientes</h3>
            <p>{{ total_clients }}</p>
        </div>
        <div class="card">
           <h3>Contratos este mes</h3>
           <p>{{ month_contracts }}</p>
</div>
            
</div>

        <div class="card">
            <h3>Permanencias próximas</h3>
            <p>0</p>
        </div>

        <div class="card">
            <h3>Tareas pendientes</h3>
            <p>{{ pending_tasks }}</p>
        </div>

    </div>
</div>

{% endblock %}
